body{
    background-color: white;
}

.landing-page {
    /* background-image: url('https://netmente.com/images/tab1.jpg');
    background-size: cover;
    background-position: center; */
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* .overlay {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    padding: 20px;
    height: 76vh;
  } */

.fa-hand-holding-heart {
font-size: 150px;
}